body{
    background-color: black;
    color: white;
    font-family:sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

div.box{
    margin: 0;
    width: 120px;
    height: 120px;
    display:inline-block;
    /* fix from:*/
    /* http://stackoverflow.com/questions/17154707/using-display-inline-block-columns-move-down */
    vertical-align: top;
}


div.top-center{
    border-style: none;
    border-left-style: solid;
    border-right-style: solid;
    border-color: white;
}

div.middle-left, div.middle-right{
    border-style: none;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: white;
}

div.middle-center{
    border-style: solid;
    border-color: white;
}

div.bottom-left{
    border-style: none;
    border-color: white;
}

div.bottom-center{
    border-style: none;
    border-left-style: solid;
    border-right-style: solid;
    border-color: white;
}

div.bottom-right{
    border-style: none;
    border-color: white;
}

button.reset{
    margin-top: 30px;
    width: 80px;
    font-weight:bold;
    font-size: 22px;
    border-radius: 5px;
    box-shadow: inset -5px 5px 5px rgba(255, 255, 255, 0.15), inset 5px -5px 5px rgba(0, 0, 0, 0.15);
}

div.dialog{
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    padding-top: 10%;
    padding-bottom: 10%;
    width: 100%;
    height: 100%;
}

div.dialog>div{
    display: inline-block;
    text-align: center;
    background-color: rgba(200,200,200,0.3);
    vertical-align: middle;
    width: 300px;
    height: 120px;
    border-radius: 5px;
}

button.xoro{
    margin: 5px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: inset -2px 2px 2px rgba(222, 222, 222, 0.12), inset 2px -2px 2px rgba(0, 0, 0, 0.12);
}
